{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

  <div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    {% include 'includes/alerts.html' %}
      <h3 class="text-center">Forgot Password</h3>
      <form action="{% url 'forgotPassword' %}" method="post">
          {% csrf_token %}
  
          <input type="email" class="form-control" placeholder="Email Address" name="email">
          <input type="submit" class="button expanded" value="Submit" />
      </form>
     
      <p class="text-center mt-4">Remember Password? <a href="{% url 'login' %}"> Login </a></p>
    </div>
  </div>
  

  








{% endblock %}