{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

  <div class="grid-x grid-padding-x">
    <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    {% include 'includes/alerts.html' %}
      <h3 class="text-center">Reset Password</h3>
      <form action="{% url 'resetPassword' %}" method="post">
          {% csrf_token %}
  
          <input type="password" class="form-control" placeholder="Password" name="password">
          <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
          <input type="submit" class="button expanded" value="Submit" />
      </form>
     
    </div>
  </div>
  

  








{% endblock %}